<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./css/visualizer.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/json2html.min.js"></script>
    <script src="js/jquery.json2html.min.js"></script>
    <script src="js/visualizer.js"></script>
</head>
<body>
    <div id="output"></div>
</body>

<script>
    var json = {{.data}}

            $(function () {
                //Create a new visualizer object
                var _visualizer = new visualizer($("#output"));

                //Visualize the demo json object
                _visualizer.visualize(json);

            });
</script>


</html>